*.class
*.log
# dotenv
.env

# virtualenv
venv/
ENV/

# Rope project settings
.ropeproject
.idea
.DS_Store

dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/

# Scala-IDE specific
.scala_dependencies
.worksheet
